
send_data_to_mongo.py
crawled_tournaments/tournament_data_2019-11-24.json
crawled_tournaments/tournament_data_2019-11-22.json
crawled_tournaments/tournament_data_2020-01-05.json
crawled_tournaments/tournament-raw-data-2020-01-10.json
crawled_players/player-raw-data-2020-01-09.json
crawled_players/player-raw-data-2020-01-10.json
crawled_players/player-raw-data-2020-01-08.json
crawled_tournaments/tournament-raw-data-2020-01-11.json
*.txt
crawled_players/player-raw-data-2020-01-11.json
