
send_data_to_mongo.py
crawled_tournaments/tournament_data_2019-11-24.json
crawled_tournaments/tournament_data_2019-11-22.json
crawled_tournaments/tournament_data_2020-01-05.json
crawled_tournaments/tournament-raw-data-2020-01-10.json
crawled_players/player-raw-data-2020-01-09.json
crawled_players/player-raw-data-2020-01-10.json
crawled_players/player-raw-data-2020-01-08.json
crawled_tournaments/tournament-raw-data-2020-01-11.json
*.txt
crawled_players/player-raw-data-2020-01-11.json
parsed_players/player-parsed-data-2020-01-25.json
parsed_tournaments/tournament-parsed-data-2020-01-26.json
project/crawled_players/player_data_2019-10-21.json
project/crawled_players/player_data_2019-09-13.json
project/crawled_players/jan-test-data.json
project/crawled_players/january-test-data.json
project/crawled_players/list_of_dicts.json
project/crawled_players/player-raw-data-2020-01-08.json
project/crawled_players/player-raw-data-2020-01-09.json
project/crawled_players/player-raw-data-2020-01-10.json
project/crawled_players/player-raw-data-2020-01-11.json
project/crawled_players/player_data_2019-10-01.json
project/crawled_players/player_data_2019-10-14.json
project/crawled_players/player_data_2019-10-19.json
project/crawled_players/player_data_2019-10-20.json
project/crawled_players/player_data_2019-10-24.json
project/crawled_players/player_raw_data_2020-01-06.json
project/crawled_players/random_data.json
